canvas { width: 100%; height: 400px; }

.chartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

#bgChart { height: 150px; touch-action: none; } /* Prevent scroll while interacting */
#bolusChart {
  height: 150px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-right: 18px; /* align chartArea width across all */
}
#foodChart { height: 150px; }
#basalChart { height: 150px; }
#workoutChart { height: 150px; }

#controls, #jump { margin-bottom: 1rem; }